files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * echo test >> /aaaa.txt
            * * * * * /opt/elasticbeanstalk/support/envvars && cd /var/www/html && sudo -u webapp php artisan schedule:run >> /dev/null 2>&1

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
